Twistlock/Cortex_XDR_Incident_Handling_G.yml
id: 87c52c10-4c97-483b-8cdb-177223aef716
version: 25
name: Cortex XDR Incident Handling_G
description: "This playbook is triggered by fetching a Palo Alto Networks Cortex XDR
  incident. \nThe playbook syncs and updates new XDR alerts that construct the incident.
  It enriches indicators using Threat Intelligence integrations and Palo Alto Networks
  AutoFocus. The incident's severity is then updated based on the indicators reputation
  and an analyst is assigned for manual investigation. If chosen, automated remediation
  with Palo Alto Networks FireWall is initiated. After a manual review by the SOC
  analyst, the XDR incident is closed automatically.\n\n*** Note - The XDRSyncScript
  used by this playbook sets data in the XDR incident fields that were released to
  content from the Demisto server version 5.0.0.\nFor Demisto versions under 5.0.0,
  please follow the 'Palo Alto Networks Cortex XDR' documentation to upload the new
  fields manually."
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: cf0f3047-b5fe-4108-8c46-964de2733708
    type: start
    task:
      id: cf0f3047-b5fe-4108-8c46-964de2733708
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "5":
    id: "5"
    taskid: 41f6acc5-4a08-47d9-8886-ea034c4f1a74
    type: regular
    task:
      id: 41f6acc5-4a08-47d9-8886-ea034c4f1a74
      version: -1
      name: Perform XDR Alerts Sync with Incident
      description: This script compares the Demisto and XDR incidents and updates
        both incidents, respectively. This script always uses xdr-get-incident-extra-data
        and outputs the whole incident JSON to the context. If the incident in XDR
        is updated, the Demisto incident is updated accordingly and the playbook will
        rerun. If incident in Demisto is updated, the script executes xdr-update-incident
        and updates the incident in XDR.
      scriptName: XDRSyncScript
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "39"
    scriptarguments:
      alert_count: {}
      assigned_user_mail: {}
      assigned_user_pretty_name: {}
      description: {}
      first: {}
      high_severity_alert_count: {}
      host_count: {}
      incident_id:
        simple: ${incident.xdrincidentid}
      interval:
        simple: "5"
      low_severity_alert_count: {}
      med_severity_alert_count: {}
      notes: {}
      playbook_to_run: {}
      resolve_comment: {}
      severity: {}
      status: {}
      user_count: {}
      verbose: {}
      xdr_alerts: {}
      xdr_file_artifacts: {}
      xdr_incident_from_previous_run: {}
      xdr_incident_markdown_field: {}
      xdr_network_artifacts: {}
      xdr_url: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "8":
    id: "8"
    taskid: 60199b0b-4582-43d8-869c-7e7df70fb86b
    type: regular
    task:
      id: 60199b0b-4582-43d8-869c-7e7df70fb86b
      version: -1
      name: Close XDR incident
      description: Updates one or more fields of a specified incident. Missing fields
        are ignored. To remove the assignment for an incident, pass a null value in
        assignee email argument.
      script: '|||xdr-update-incident'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "27"
    scriptarguments:
      assigned_user_mail: {}
      assigned_user_pretty_name: {}
      incident_id:
        simple: ${incident.xdrincidentid}
      manual_severity: {}
      resolve_comment:
        simple: Some comment here
      status:
        simple: RESOLVED_THREAT_HANDLED
      unassign_user: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 275,
          "y": 2265
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "10":
    id: "10"
    taskid: d2a748f4-da16-4e04-8103-21dc350805d8
    type: title
    task:
      id: d2a748f4-da16-4e04-8103-21dc350805d8
      version: -1
      name: File Analysis
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "12":
    id: "12"
    taskid: 54f287fd-2090-4c41-877a-5c65d3a8e14c
    type: condition
    task:
      id: 54f287fd-2090-4c41-877a-5c65d3a8e14c
      version: -1
      name: Are there files to analyze?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "38"
      "yes":
      - "31"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: PaloAltoNetworksXDR
                accessor: Incident.file_artifacts.file_sha256
                transformers:
                - operator: uniq
            iscontext: true
    view: |-
      {
        "position": {
          "x": 50,
          "y": 690
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "15":
    id: "15"
    taskid: ba8deeb8-0175-4c9f-80ce-e8b974389599
    type: regular
    task:
      id: ba8deeb8-0175-4c9f-80ce-e8b974389599
      version: -1
      name: Perform file analysis with AutoFocus
      description: Retrieve the sample analysis
      script: '|||autofocus-sample-analysis'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "38"
    scriptarguments:
      coverage: {}
      filter_data: {}
      id:
        complex:
          root: incident
          accessor: xdrfileartifacts.filesha256
          transformers:
          - operator: uniq
      os: {}
      platforms: {}
      sample_id:
        complex:
          root: incident
          accessor: xdrfileartifacts.filesha256
          transformers:
          - operator: uniq
      sections: {}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 40,
          "y": 1040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "20":
    id: "20"
    taskid: d6741055-dd11-4b6d-83b7-4f14c74a1a84
    type: regular
    task:
      id: d6741055-dd11-4b6d-83b7-4f14c74a1a84
      version: -1
      name: Analyst Manual Investigation
      description: Perform manual investigation of the XDR incident. Enter the Cortex
        XDR Incident page through the `XDR URL` incident field. Analyze the indicent
        alerts, and perform the necessary remediation steps.
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "29"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 275,
          "y": 1390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "23":
    id: "23"
    taskid: c8f9a306-df9e-4e6a-8ec1-c977e3a161ec
    type: regular
    task:
      id: c8f9a306-df9e-4e6a-8ec1-c977e3a161ec
      version: -1
      name: Analyst Manual Remediation
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "26"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 152.5,
          "y": 1915
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "25":
    id: "25"
    taskid: 2674bdee-3758-44f5-8570-738344346001
    type: condition
    task:
      id: 2674bdee-3758-44f5-8570-738344346001
      version: -1
      name: Would you like to perform auto- remediation?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "23"
      "Yes":
      - "34"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 275,
          "y": 1740
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "26":
    id: "26"
    taskid: 314be321-8954-4f44-86a0-ed6db9e8f06a
    type: regular
    task:
      id: 314be321-8954-4f44-86a0-ed6db9e8f06a
      version: -1
      name: Analyst Manual Review
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 275,
          "y": 2090
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "27":
    id: "27"
    taskid: a7718bb0-0711-4523-873e-c00f4e1d8f2f
    type: regular
    task:
      id: a7718bb0-0711-4523-873e-c00f4e1d8f2f
      version: -1
      name: Close Investigation
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "30"
    scriptarguments:
      assetid: {}
      closeNotes: {}
      closeReason: {}
      id: {}
      mndadone: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 275,
          "y": 2440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "29":
    id: "29"
    taskid: 9c2fb0df-e6c0-4759-8d23-07bf26cdfad9
    type: regular
    task:
      id: 9c2fb0df-e6c0-4759-8d23-07bf26cdfad9
      version: -1
      name: Stop XDR Alert Sync with Incident
      description: This stops the scheduled task whose ID is given in the taskID argument.
      scriptName: StopScheduledTask
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "25"
    scriptarguments:
      taskID:
        simple: ${XDRSyncScriptTaskID}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 275,
          "y": 1565
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "30":
    id: "30"
    taskid: 7afb43bf-64bd-44e2-85e9-fb9b2cdf90dd
    type: title
    task:
      id: 7afb43bf-64bd-44e2-85e9-fb9b2cdf90dd
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 275,
          "y": 2615
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "31":
    id: "31"
    taskid: 0750ec9c-2e33-441a-8e8d-2e6631ae068c
    type: condition
    task:
      id: 0750ec9c-2e33-441a-8e8d-2e6631ae068c
      version: -1
      name: Is AutoFocus Integration enabled?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "38"
      "yes":
      - "15"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: modules
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.brand
                      iscontext: true
                    right:
                      value:
                        simple: Autofocus
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.state
                      iscontext: true
                    right:
                      value:
                        simple: active
                accessor: brand
            iscontext: true
        - operator: isExists
          left:
            value:
              complex:
                root: modules
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.brand
                      iscontext: true
                    right:
                      value:
                        simple: AutoFocus V2
                - - operator: isEqualString
                    left:
                      value:
                        simple: modules.state
                      iscontext: true
                    right:
                      value:
                        simple: active
                accessor: brand
            iscontext: true
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 865
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "34":
    id: "34"
    taskid: 43205164-baac-4609-8456-8360d7a02269
    type: playbook
    task:
      id: 43205164-baac-4609-8456-8360d7a02269
      version: -1
      name: Palo Alto Networks - Malware Remediation
      description: This Playbook performs malicious IOC remediation using Palo Alto
        Networks integrations.
      playbookName: Palo Alto Networks - Malware Remediation
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "26"
    scriptarguments:
      AutoCommit:
        simple: "No"
      CustomBlockRule:
        simple: "False"
      CustomURLCategory: {}
      DAG: {}
      EDLServerIP: {}
      IP:
        complex:
          root: IP
          filters:
          - - operator: isExists
              left:
                value:
                  simple: IP.Malicious
                iscontext: true
          accessor: Address
          transformers:
          - operator: uniq
      IPListName: {}
      LogForwarding: {}
      Miner: {}
      StaticAddressGroup: {}
      URL:
        complex:
          root: URL
          filters:
          - - operator: isExists
              left:
                value:
                  simple: URL.Malicious
                iscontext: true
          accessor: Data
          transformers:
          - operator: uniq
      URLListName: {}
    separatecontext: true
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 1915
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "38":
    id: "38"
    taskid: 5cad4ba7-6c85-4f82-8ed3-734fd059eb25
    type: playbook
    task:
      id: 5cad4ba7-6c85-4f82-8ed3-734fd059eb25
      version: -1
      name: Calculate Severity - Standard
      playbookName: Calculate Severity - Standard
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "20"
    separatecontext: true
    view: |-
      {
        "position": {
          "x": 275,
          "y": 1215
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "39":
    id: "39"
    taskid: 7b77c0d2-da02-4a88-877b-10c9393e21db
    type: regular
    task:
      id: 7b77c0d2-da02-4a88-877b-10c9393e21db
      version: -1
      name: Get additional incident details
      description: Returns additional data for the specified incident, for example,
        related alerts, file artifacts, network artifacts, and so on.
      script: Cortex XDR - G|||xdr-get-incident-extra-data
      type: regular
      iscommand: true
      brand: Cortex XDR - G
    nexttasks:
      '#none#':
      - "10"
      - "44"
      - "45"
    scriptarguments:
      alerts_limit: {}
      incident_id:
        simple: ${incident.xdrincidentid}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "40":
    id: "40"
    taskid: 98f7a583-b659-4d96-8777-5d93b486c519
    type: condition
    task:
      id: 98f7a583-b659-4d96-8777-5d93b486c519
      version: -1
      name: Is there an IP to enrich?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "38"
      "yes":
      - "42"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: PaloAltoNetworksXDR
                accessor: Incident.network_artifacts.[].network_remote_ip
            iscontext: true
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 865
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "41":
    id: "41"
    taskid: c9242364-96b4-4d3a-82fd-fc8bb9c45c2e
    type: condition
    task:
      id: c9242364-96b4-4d3a-82fd-fc8bb9c45c2e
      version: -1
      name: Is there any domain to enrich?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "38"
      "yes":
      - "43"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: PaloAltoNetworksXDR
                filters:
                - - operator: match
                    left:
                      value:
                        simple: PaloAltoNetworksXDR.Incident.alerts.description
                      iscontext: true
                    right:
                      value:
                        simple: DNS Query
                accessor: Incident.alerts.description
                transformers:
                - operator: substringFrom
                  args:
                    from:
                      value:
                        simple: Query (
                - operator: substringTo
                  args:
                    to:
                      value:
                        simple: ))
            iscontext: true
    view: |-
      {
        "position": {
          "x": 1032.5,
          "y": 865
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "42":
    id: "42"
    taskid: 4124f92a-8dec-4879-85d1-0d12f330a56c
    type: playbook
    task:
      id: 4124f92a-8dec-4879-85d1-0d12f330a56c
      version: -1
      name: IP Investigation and Response
      playbookName: IP Investigation and Response
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "38"
    separatecontext: true
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 1040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "43":
    id: "43"
    taskid: 31935c5a-6e50-44b8-8722-cb22e165e38e
    type: playbook
    task:
      id: 31935c5a-6e50-44b8-8722-cb22e165e38e
      version: -1
      name: Investigate Domain with Autofocus
      playbookName: Investigate Domain with Autofocus
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "38"
    separatecontext: true
    view: |-
      {
        "position": {
          "x": 1032.5,
          "y": 1040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "44":
    id: "44"
    taskid: ecd12924-2ee9-4392-8e81-a8d5bded348c
    type: title
    task:
      id: ecd12924-2ee9-4392-8e81-a8d5bded348c
      version: -1
      name: IP Analysis
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "40"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 705
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "45":
    id: "45"
    taskid: ae05c3a9-50b8-4627-89ae-4ec8b1ebec67
    type: title
    task:
      id: ae05c3a9-50b8-4627-89ae-4ec8b1ebec67
      version: -1
      name: Domain Analysis
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "41"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1032.5,
          "y": 705
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
view: |-
  {
    "linkLabelsPosition": {
      "12_31_yes": 0.6,
      "12_38_#default#": 0.71,
      "31_15_yes": 0.66,
      "31_38_#default#": 0.3
    },
    "paper": {
      "dimensions": {
        "height": 2630,
        "width": 1372.5,
        "x": 40,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
sourceplaybookid: Cortex XDR Incident Handling
