Twistlock/Investigate_IP_with_MineMeld (1).yml
id: 60275c4f-89ff-47fe-8b9f-46d273540e9a
version: 4
name: Investigate IP with MineMeld
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: f2cf057b-5f66-414a-8047-7c38c92d1838
    type: start
    task:
      id: f2cf057b-5f66-414a-8047-7c38c92d1838
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "1":
    id: "1"
    taskid: 999ae590-8e47-423a-8bf1-64b8987f6093
    type: regular
    task:
      id: 999ae590-8e47-423a-8bf1-64b8987f6093
      version: -1
      name: Query Minemeld for IP
      description: Get indicator from a miner's list
      script: Palo Alto Minemeld|||minemeld-get-indicator-from-miner
      type: regular
      iscommand: true
      brand: Palo Alto Minemeld
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      indicator:
        simple: ${inputs.MM_IP}
      miner:
        simple: localDB-hs
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 195
        }
      }
    note: true
    evidencedata:
      description:
        simple: MineMeld Confirms IoC Potentially Malicious
      customfields: {}
    timertriggers: []
    ignoreworker: false
    fieldMapping:
    - incidentfield: minemeldIP
      output:
        simple: ${MineMeld.Indicators.indicator}
  "3":
    id: "3"
    taskid: e0751bb3-1249-4110-81d8-fd68f0d116d4
    type: condition
    task:
      id: e0751bb3-1249-4110-81d8-fd68f0d116d4
      version: -1
      name: Is the IP on Minemeld?
      description: Get indicator from a miner's list
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "12"
      "yes":
      - "10"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: MineMeld
                accessor: Indicators.indicator
            iscontext: true
          right:
            value:
              simple: inputs.MM_IP
            iscontext: true
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "10":
    id: "10"
    taskid: c032d7ae-337d-4dc1-83aa-32dd22cde75b
    type: regular
    task:
      id: c032d7ae-337d-4dc1-83aa-32dd22cde75b
      version: -1
      name: Set MineMeld Verdict to Context
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      append: {}
      key:
        simple: MineMeldVerdict
      value:
        simple: Malicious
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 550
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "12":
    id: "12"
    taskid: 26d8bb1b-edc3-4449-842e-1a54df86de35
    type: title
    task:
      id: 26d8bb1b-edc3-4449-842e-1a54df86de35
      version: -1
      name: End
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 735,
        "width": 492.5,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: MM_IP
  value:
    complex:
      root: ${IP
      accessor: Address}
  required: false
  description: ""
outputs:
- contextPath: MineMeldVerdict
  description: MineMeld Verdict
  type: unknown
sourceplaybookid: 93e23d7d-969d-4dd2-8be3-2e7454c59266
