Twistlock/Investigate_IP_with_MineMeld.yml
id: 60275c4f-89ff-47fe-8b9f-46d273540e9a
version: 34
name: Investigate IP with MineMeld
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: a32eda77-db1b-47cd-8378-0062a18f1983
    type: start
    task:
      id: a32eda77-db1b-47cd-8378-0062a18f1983
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "1":
    id: "1"
    taskid: 9d1564d8-e27e-49e6-80eb-5d67443c5e92
    type: regular
    task:
      id: 9d1564d8-e27e-49e6-80eb-5d67443c5e92
      version: -1
      name: Query Minemeld for IP
      description: Get indicator from a miner's list
      script: Palo Alto Minemeld|||minemeld-get-indicator-from-miner
      type: regular
      iscommand: true
      brand: Palo Alto Minemeld
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      indicator:
        simple: ${inputs.MM_IP}
      miner:
        simple: localDB-hs
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 195
        }
      }
    note: true
    evidencedata:
      description:
        simple: MineMeld Confirms IoC Potentially Malicious
      customfields: {}
    timertriggers: []
    ignoreworker: false
    fieldMapping:
    - incidentfield: minemeldIP
      output:
        simple: ${MineMeld.Indicators.indicator}
  "3":
    id: "3"
    taskid: 74fcf744-e8ad-4ad4-843e-50ac6f5151c2
    type: condition
    task:
      id: 74fcf744-e8ad-4ad4-843e-50ac6f5151c2
      version: -1
      name: Is the IP on Minemeld?
      description: Get indicator from a miner's list
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "12"
      "yes":
      - "10"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: MineMeld
                accessor: Indicators.indicator
            iscontext: true
          right:
            value:
              simple: inputs.MM_IP
            iscontext: true
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "10":
    id: "10"
    taskid: 55b26a8e-d6e8-49a5-820f-9e128b08c8ab
    type: regular
    task:
      id: 55b26a8e-d6e8-49a5-820f-9e128b08c8ab
      version: -1
      name: Set MineMeld Verdict to Context
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      append: {}
      key:
        simple: MineMeldVerdict
      value:
        simple: Malicious
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 550
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "12":
    id: "12"
    taskid: 255880ad-6f2d-444c-8a3e-bdc87236573e
    type: title
    task:
      id: 255880ad-6f2d-444c-8a3e-bdc87236573e
      version: -1
      name: End
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 735,
        "width": 492.5,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: MM_IP
  value:
    complex:
      root: TwistlockIP
  required: false
  description: ""
outputs:
- contextPath: MineMeldVerdict
  description: MineMeld Verdict
  type: unknown
sourceplaybookid: 93e23d7d-969d-4dd2-8be3-2e7454c59266
