Twistlock/Twistlock_G_Testing_2.yml
id: d4a4150f-0dd6-4425-83ae-481cefee9eb0
version: 66
name: Twistlock_G_Testing_2
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 891554a8-dfbd-4eb2-82d1-6b6ec98dc257
    type: start
    task:
      id: 891554a8-dfbd-4eb2-82d1-6b6ec98dc257
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "34"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 410,
          "y": -1200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "2":
    id: "2"
    taskid: 716b9b4d-826a-447a-8d64-b91416047c1a
    type: regular
    task:
      id: 716b9b4d-826a-447a-8d64-b91416047c1a
      version: -1
      name: Get the impacted image name
      script: SplunkPy|||splunk-search
      type: regular
      iscommand: true
      brand: SplunkPy
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      earliest_time: {}
      event_limit: {}
      latest_time: {}
      query:
        simple: index=main | regex _raw=msg"([^\"]+)" | selfjoin image_name | top
          image_name
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -475,
          "y": 60
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "4":
    id: "4"
    taskid: b6fadba0-c416-4a4a-82fd-fdcc6a073532
    type: title
    task:
      id: b6fadba0-c416-4a4a-82fd-fdcc6a073532
      version: -1
      name: Close the incident
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 172.5,
          "y": 2790
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "12":
    id: "12"
    taskid: 639557a5-ab16-4056-8882-7ccd1b417c96
    type: regular
    task:
      id: 639557a5-ab16-4056-8882-7ccd1b417c96
      version: -1
      name: Extract Command and Control Details
      description: Deprecated - We recommend using extractIndicators command instead.
        Extract URLs from the given text and place them both as output and in the
        context of a playbook. If given an object, will convert to JSON.
      scriptName: ExtractURL
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      text:
        complex:
          root: incident
          accessor: domain
      urlRegex: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -475,
          "y": 245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "13":
    id: "13"
    taskid: 4fdfd3f1-8075-47e8-8a5e-156aa909a360
    type: regular
    task:
      id: 4fdfd3f1-8075-47e8-8a5e-156aa909a360
      version: -1
      name: Query Public Threat Intel Database
      script: VirusTotal|||url
      type: regular
      iscommand: true
      brand: VirusTotal
    nexttasks:
      '#none#':
      - "15"
    scriptarguments:
      long: {}
      retries: {}
      sampleSize: {}
      submitWait: {}
      threshold: {}
      url:
        simple: ${URL.Data}
      wait: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -475,
          "y": 410
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "15":
    id: "15"
    taskid: 13f0699d-33f1-4c1d-8722-dcb0901c8e3b
    type: condition
    task:
      id: 13f0699d-33f1-4c1d-8722-dcb0901c8e3b
      version: -1
      name: Is the domain malicious?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "26"
      "Yes":
      - "25"
    separatecontext: false
    conditions:
    - label: "Yes"
      condition:
      - - operator: greaterThan
          left:
            value:
              complex:
                root: URL
                filters:
                - - operator: greaterThan
                    left:
                      value:
                        simple: URL.PositiveDetections
                      iscontext: true
                    right:
                      value:
                        simple: "0"
                accessor: DetectionEngines
            iscontext: true
          right:
            value:
              simple: "0"
    view: |-
      {
        "position": {
          "x": -460,
          "y": 570
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "17":
    id: "17"
    taskid: fb344041-7cd2-4480-8021-65144652e1eb
    type: regular
    task:
      id: fb344041-7cd2-4480-8021-65144652e1eb
      version: -1
      name: Conduct a Whois
      script: Whois|||whois
      type: regular
      iscommand: true
      brand: Whois
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      query:
        simple: ${URL.Data}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -460,
          "y": 920
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "19":
    id: "19"
    taskid: 4e0f9426-fb57-42d2-8d97-9a38becb725e
    type: condition
    task:
      id: 4e0f9426-fb57-42d2-8d97-9a38becb725e
      version: -1
      name: Does the domain exists?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "20"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: Domain.Name
            iscontext: true
    view: |-
      {
        "position": {
          "x": -490,
          "y": 1100
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "20":
    id: "20"
    taskid: e4a56e3e-a6a4-49d6-8262-6196bbe00cbc
    type: title
    task:
      id: e4a56e3e-a6a4-49d6-8262-6196bbe00cbc
      version: -1
      name: Update Incident Report
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 172.5,
          "y": 2645
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "22":
    id: "22"
    taskid: 8c0ac2c4-8787-45dd-800a-a42a216ba6ad
    type: regular
    task:
      id: 8c0ac2c4-8787-45dd-800a-a42a216ba6ad
      version: -1
      name: Generate Investigation Summary Report
      description: |-
        A script to generate investigation summary report in an automated way
        Can be used in post-processing flow as well.
      scriptName: GenerateInvestigationSummaryReport
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "24"
    scriptarguments:
      incidentId:
        simple: ${incident.id}
      name: {}
      type: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -50,
          "y": 2150
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "23":
    id: "23"
    taskid: 6133d38c-6a37-4b84-8f76-fa9a209d2176
    type: title
    task:
      id: 6133d38c-6a37-4b84-8f76-fa9a209d2176
      version: -1
      name: Analyst checks for other artifacts
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "20"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 250,
          "y": 2500
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "24":
    id: "24"
    taskid: ed5c04f5-8717-4514-80b1-856b3bc81af4
    type: regular
    task:
      id: ed5c04f5-8717-4514-80b1-856b3bc81af4
      version: -1
      name: Send Incident Details to SOC Manager
      description: Ask a user a question on Slack and expect a response. The response
        can also close a task (might be conditional) in a playbook.
      scriptName: SlackAskUser
      type: regular
      iscommand: false
      brand: slack
    nexttasks:
      '#none#':
      - "23"
    scriptarguments:
      message:
        simple: Do you want to assign this High Severity incident to an analyst?
      option1:
        simple: "yes"
      option2:
        simple: "no"
      persistent: {}
      replyEntriesTag: {}
      task:
        simple: "24"
      user:
        simple: vlanjekar@yahoo.com
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 30,
          "y": 2325
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "25":
    id: "25"
    taskid: 06e64ce7-499d-4485-8328-bc550a3a1ab3
    type: regular
    task:
      id: 06e64ce7-499d-4485-8328-bc550a3a1ab3
      version: -1
      name: Set Severity High
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "28"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      criticalassets: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      domain: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailauthenticitycheck: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclassification: {}
      emailclientname: {}
      emailfrom: {}
      emailhtml: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      filehash: {}
      filename: {}
      filepath: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      msg: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      phishingsubtype: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity:
        simple: High
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      systems: {}
      telephoneno: {}
      type: {}
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -170,
          "y": 1280
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "26":
    id: "26"
    taskid: f8116740-cf47-4b1f-81d8-ed52b98255ab
    type: regular
    task:
      id: f8116740-cf47-4b1f-81d8-ed52b98255ab
      version: -1
      name: Set Severity Low
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      criticalassets: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      domain: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailauthenticitycheck: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclassification: {}
      emailclientname: {}
      emailfrom: {}
      emailhtml: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      filehash: {}
      filename: {}
      filepath: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      msg: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      phishingsubtype: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity:
        simple: low
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      systems: {}
      telephoneno: {}
      type: {}
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -460,
          "y": 750
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "27":
    id: "27"
    taskid: 75182ceb-caa8-4209-8aa7-6e45c96492e6
    type: condition
    task:
      id: 75182ceb-caa8-4209-8aa7-6e45c96492e6
      version: -1
      name: Was the URL detonated  successfully?
      type: condition
      iscommand: false
      brand: Panorama
    nexttasks:
      "yes":
      - "30"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              complex:
                root: WildFire
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: WildFire.Report.Status
                      iscontext: true
                    right:
                      value:
                        simple: Pending
                accessor: Report.URL
            iscontext: true
    view: |-
      {
        "position": {
          "x": -190,
          "y": 1625
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "28":
    id: "28"
    taskid: 564b05af-85ce-4600-81c6-fed66496b17a
    type: regular
    task:
      id: 564b05af-85ce-4600-81c6-fed66496b17a
      version: -1
      name: Detonate URL in Wildfire
      script: WildFire-v2|||wildfire-upload-url
      type: regular
      iscommand: true
      brand: WildFire-v2
    nexttasks:
      '#none#':
      - "27"
    scriptarguments:
      upload:
        complex:
          root: URL
          filters:
          - - operator: startWith
              left:
                value:
                  simple: URL.Data
                iscontext: true
              right:
                value:
                  simple: http
          accessor: Data
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -190,
          "y": 1460
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "30":
    id: "30"
    taskid: 5b166cb8-84b8-460b-8793-dab00ebf5194
    type: regular
    task:
      id: 5b166cb8-84b8-460b-8793-dab00ebf5194
      version: -1
      name: Create Custom URL Category
      script: Panorama|||panorama-create-custom-url-category
      type: regular
      iscommand: true
      brand: Panorama
    nexttasks:
      '#none#':
      - "32"
    scriptarguments:
      description:
        simple: Blocks callback from containers
      device-group: {}
      name:
        simple: DemistoMaliciousDomains
      sites:
        simple: ${inputs.URL}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -150,
          "y": 1800
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "32":
    id: "32"
    taskid: 6d7de3ad-8f48-403b-8405-5afacc2a7ca5
    type: regular
    task:
      id: 6d7de3ad-8f48-403b-8405-5afacc2a7ca5
      version: -1
      name: Commit Configuration
      script: Panorama|||panorama-commit
      type: regular
      iscommand: true
      brand: Panorama
    nexttasks:
      '#none#':
      - "22"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -110,
          "y": 1975
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "33":
    id: "33"
    taskid: b57af92b-b6ab-4123-8ac6-519f241fe7fd
    type: playbook
    task:
      id: b57af92b-b6ab-4123-8ac6-519f241fe7fd
      version: -1
      name: MineMeld and Firewall EDL Response
      playbookName: MineMeld and Firewall EDL Response
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "57"
    separatecontext: false
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
    view: |-
      {
        "position": {
          "x": 650,
          "y": 690
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "34":
    id: "34"
    taskid: 74210784-c74a-4714-860a-4bba22ebc10c
    type: regular
    task:
      id: 74210784-c74a-4714-860a-4bba22ebc10c
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "35"
    scriptarguments:
      all:
        simple: "yes"
      index: {}
      key: {}
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 410,
          "y": -1060
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "35":
    id: "35"
    taskid: 435a6e48-b356-4683-8ef1-ec6c58e78470
    type: regular
    task:
      id: 435a6e48-b356-4683-8ef1-ec6c58e78470
      version: -1
      name: Set IP to context for testing
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "59"
      - "52"
    scriptarguments:
      append: {}
      key:
        simple: TwistlockIP
      value:
        simple: 2.2.2.2
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 410,
          "y": -900
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "43":
    id: "43"
    taskid: 0c1e41a9-eeb2-4047-885b-a738904209f7
    type: playbook
    task:
      id: 0c1e41a9-eeb2-4047-885b-a738904209f7
      version: -1
      name: Search IP in Autofocus
      playbookName: Investigate IP with Autofocus
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "45"
    separatecontext: true
    view: |-
      {
        "position": {
          "x": 1040,
          "y": -170
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "44":
    id: "44"
    taskid: d1d53782-58a3-4723-8bd8-321f10727c8b
    type: playbook
    task:
      id: d1d53782-58a3-4723-8bd8-321f10727c8b
      version: -1
      name: Investigate IP with MineMeld
      playbookName: Investigate IP with MineMeld
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "45"
    separatecontext: true
    view: |-
      {
        "position": {
          "x": 542.5,
          "y": -170
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "45":
    id: "45"
    taskid: 3fcc7425-ce76-41c0-8772-48149ec8e777
    type: condition
    task:
      id: 3fcc7425-ce76-41c0-8772-48149ec8e777
      version: -1
      name: Is the IP malicious?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "53"
      "yes":
      - "51"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: AF_Verdict
            iscontext: true
          right:
            value:
              simple: Malicious
    - label: condition-2
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: MineMeldVerdict
            iscontext: true
          right:
            value:
              simple: Malicious
    view: |-
      {
        "position": {
          "x": 800,
          "y": 40
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "46":
    id: "46"
    taskid: beefde9e-7f66-4e91-8a9c-19bd93b3a5a7
    type: title
    task:
      id: beefde9e-7f66-4e91-8a9c-19bd93b3a5a7
      version: -1
      name: Perform Remediation
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "33"
      - "58"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 542.5,
          "y": 550
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "47":
    id: "47"
    taskid: e6b8fad8-36e5-4851-87ae-74d5e0e664fa
    type: title
    task:
      id: e6b8fad8-36e5-4851-87ae-74d5e0e664fa
      version: -1
      name: Perform Threat Hunting
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "48"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1120,
          "y": 550
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "48":
    id: "48"
    taskid: c724ac48-ca2f-4613-88d7-73814f77558b
    type: playbook
    task:
      id: c724ac48-ca2f-4613-88d7-73814f77558b
      version: -1
      name: Panorama Query Logs
      description: 'Query Panorama Logs of types: traffic, threat, url, data-filtering
        and wildfire.'
      playbookName: Panorama Query Logs
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "49"
    scriptarguments:
      action: {}
      addr-dst:
        simple: ${TwistlockIP}
      addr-src: {}
      filedigest: {}
      log_type:
        simple: traffic
      port-dst: {}
      query: {}
      rule: {}
      time-generated: {}
      url: {}
      zone-dst: {}
      zone-src: {}
    separatecontext: true
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
    view: |-
      {
        "position": {
          "x": 1120,
          "y": 690
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "49":
    id: "49"
    taskid: 3d532003-c843-428c-88c8-51bf3eb04993
    type: condition
    task:
      id: 3d532003-c843-428c-88c8-51bf3eb04993
      version: -1
      name: Other containers connected to suspicious indicator?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "57"
      "yes":
      - "54"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: a
            iscontext: true
          right:
            value:
              simple: a
    view: |-
      {
        "position": {
          "x": 1120,
          "y": 845
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "50":
    id: "50"
    taskid: 9ce6ebda-9dd3-4d66-86df-4df79d45215a
    type: regular
    task:
      id: 9ce6ebda-9dd3-4d66-86df-4df79d45215a
      version: -1
      name: Assign Analyst
      description: |-
        Assign analyst to incident.
        By default,  the analyst is picked randomly from the available users, according to the provided roles (if no roles provided, will fetch all users).
        Otherwise, the analyst will be picked according to the 'assignBy' arguments.
        machine-learning: DBot will calculated and decide who is the best analyst for the job.
        top-user: The user that is most commonly owns this type of incident
        less-busy-user: The less busy analyst will be picked to be the incident owner.
        online: The analyst is picked randomly from all online analysts, according to the provided roles (if no roles provided, will fetch all users).
        current: The user that executed the command
      scriptName: AssignAnalystToIncident
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "46"
      - "47"
    scriptarguments:
      assignBy:
        simple: machine-learning
      email: {}
      roles: {}
      username: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 800,
          "y": 375
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "51":
    id: "51"
    taskid: f8899bdf-5927-44d8-8d47-7a5cdbb71131
    type: regular
    task:
      id: f8899bdf-5927-44d8-8d47-7a5cdbb71131
      version: -1
      name: Set Severity to High
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "50"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      agentid: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      blockedaction: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      commandline: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      criticalassets: {}
      customFields: {}
      cve: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      devicename: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailauthenticitycheck: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclassification: {}
      emailclientname: {}
      emailfrom: {}
      emailhtml: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      filehash: {}
      filename: {}
      filepath: {}
      filesize: {}
      id: {}
      infectedhosts: {}
      isolated: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciousbehavior: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      parentprocessid: {}
      phase: {}
      phishingsubtype: {}
      pid: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity:
        simple: High
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcos: {}
      srcuser: {}
      subtype: {}
      suspiciousip: {}
      systems: {}
      telephoneno: {}
      terminatedaction: {}
      trapsid: {}
      triggeredsecurityprofile: {}
      type: {}
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
      xdralertcount: {}
      xdralerts: {}
      xdrassigneduseremail: {}
      xdrassigneduserprettyname: {}
      xdrdescription: {}
      xdrdetectiontime: {}
      xdrfileartifacts: {}
      xdrhighseverityalertcount: {}
      xdrincidentid: {}
      xdrlowseverityalertcount: {}
      xdrmediumseverityalertcount: {}
      xdrnetworkartifacts: {}
      xdrnotes: {}
      xdrresolvecomment: {}
      xdrstatus: {}
      xdrurl: {}
      xdrusercount: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 800,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "52":
    id: "52"
    taskid: 16796e6d-2af9-49a0-8c77-5254826da45d
    type: title
    task:
      id: 16796e6d-2af9-49a0-8c77-5254826da45d
      version: -1
      name: Investigate Container
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1240,
          "y": -685
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "53":
    id: "53"
    taskid: 53bae39f-dc95-4e2f-8b35-eee19b59348d
    type: regular
    task:
      id: 53bae39f-dc95-4e2f-8b35-eee19b59348d
      version: -1
      name: Set Severity to Low
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "57"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      agentid: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      blockedaction: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      commandline: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      criticalassets: {}
      customFields: {}
      cve: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      devicename: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailauthenticitycheck: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclassification: {}
      emailclientname: {}
      emailfrom: {}
      emailhtml: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      filehash: {}
      filename: {}
      filepath: {}
      filesize: {}
      id: {}
      infectedhosts: {}
      isolated: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciousbehavior: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      parentprocessid: {}
      phase: {}
      phishingsubtype: {}
      pid: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity:
        simple: Low
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcos: {}
      srcuser: {}
      subtype: {}
      suspiciousip: {}
      systems: {}
      telephoneno: {}
      terminatedaction: {}
      trapsid: {}
      triggeredsecurityprofile: {}
      type: {}
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
      xdralertcount: {}
      xdralerts: {}
      xdrassigneduseremail: {}
      xdrassigneduserprettyname: {}
      xdrdescription: {}
      xdrdetectiontime: {}
      xdrfileartifacts: {}
      xdrhighseverityalertcount: {}
      xdrincidentid: {}
      xdrlowseverityalertcount: {}
      xdrmediumseverityalertcount: {}
      xdrnetworkartifacts: {}
      xdrnotes: {}
      xdrresolvecomment: {}
      xdrstatus: {}
      xdrurl: {}
      xdrusercount: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1430,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "54":
    id: "54"
    taskid: dd28b0b3-0ea1-4e61-8122-ce504fa08f08
    type: regular
    task:
      id: dd28b0b3-0ea1-4e61-8122-ce504fa08f08
      version: -1
      name: Severity to Critical
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "56"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      agentid: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      blockedaction: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      commandline: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      criticalassets: {}
      customFields: {}
      cve: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      devicename: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailauthenticitycheck: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclassification: {}
      emailclientname: {}
      emailfrom: {}
      emailhtml: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      filehash: {}
      filename: {}
      filepath: {}
      filesize: {}
      id: {}
      infectedhosts: {}
      isolated: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciousbehavior: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      parentprocessid: {}
      phase: {}
      phishingsubtype: {}
      pid: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity:
        simple: Critical
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcos: {}
      srcuser: {}
      subtype: {}
      suspiciousip: {}
      systems: {}
      telephoneno: {}
      terminatedaction: {}
      trapsid: {}
      triggeredsecurityprofile: {}
      type: {}
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
      xdralertcount: {}
      xdralerts: {}
      xdrassigneduseremail: {}
      xdrassigneduserprettyname: {}
      xdrdescription: {}
      xdrdetectiontime: {}
      xdrfileartifacts: {}
      xdrhighseverityalertcount: {}
      xdrincidentid: {}
      xdrlowseverityalertcount: {}
      xdrmediumseverityalertcount: {}
      xdrnetworkartifacts: {}
      xdrnotes: {}
      xdrresolvecomment: {}
      xdrstatus: {}
      xdrurl: {}
      xdrusercount: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 870,
          "y": 1040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "56":
    id: "56"
    taskid: 16e8d5e4-12a6-414c-836c-ff264e4f404e
    type: regular
    task:
      id: 16e8d5e4-12a6-414c-836c-ff264e4f404e
      version: -1
      name: Notify via Slack and Email
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "57"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 870,
          "y": 1205
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "57":
    id: "57"
    taskid: 4adf71c5-8a9a-499e-8af7-d7fa54051764
    type: title
    task:
      id: 4adf71c5-8a9a-499e-8af7-d7fa54051764
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 860,
          "y": 1560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "58":
    id: "58"
    taskid: 27f06f13-4a6e-4986-8ff3-98aa40c6cc4e
    type: title
    task:
      id: 27f06f13-4a6e-4986-8ff3-98aa40c6cc4e
      version: -1
      name: Twistlock Remediation Actions
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 220,
          "y": 705
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "59":
    id: "59"
    taskid: a8fdfcc8-910a-4de0-867d-abdefb43372b
    type: regular
    task:
      id: a8fdfcc8-910a-4de0-867d-abdefb43372b
      version: -1
      name: Determine whether the IP is internal or external?
      description: Returns yes if the IP is in one of the ranges provided, returns
        no otherwise.
      scriptName: IsIPInRanges
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "60"
    scriptarguments:
      ip:
        simple: TwistlockIP
      ipRanges:
        simple: 192.168.0.0/24
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 410,
          "y": -700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "60":
    id: "60"
    taskid: f95984d7-bcad-4472-8804-cf15326f5d85
    type: condition
    task:
      id: f95984d7-bcad-4472-8804-cf15326f5d85
      version: -1
      name: Is the IP internal?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "62"
      "yes":
      - "61"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: IP.InRange
            iscontext: true
          right:
            value:
              simple: "yes"
    view: |-
      {
        "position": {
          "x": 410,
          "y": -530
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "61":
    id: "61"
    taskid: 00aa12ca-b0a1-4491-8947-fdf732244e6b
    type: title
    task:
      id: 00aa12ca-b0a1-4491-8947-fdf732244e6b
      version: -1
      name: Do Internal Investigation
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 30,
          "y": -330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "62":
    id: "62"
    taskid: 8a96ae63-82fa-40ba-8a44-19a46bc36116
    type: title
    task:
      id: 8a96ae63-82fa-40ba-8a44-19a46bc36116
      version: -1
      name: Investigate External IP Address
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "44"
      - "43"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 780,
          "y": -330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 4055,
        "width": 2300,
        "x": -490,
        "y": -1200
      }
    }
  }
inputs: []
outputs: []
sourceplaybookid: 0e4e532d-7c07-4bd1-8de4-da3b74904c31
