Twistlock/Twistlock_Alert.yml
id: 2899ffa6-0f77-4774-89d1-14d5e6a62db2
version: 41
name: Twistlock Alert
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 9afe1f05-2c39-46dd-8f6e-4ff17149dde0
    type: start
    task:
      id: 9afe1f05-2c39-46dd-8f6e-4ff17149dde0
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "3"
      - "1"
      - "11"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "1":
    id: "1"
    taskid: 53b8703a-db52-42c8-8a0d-5ff39329701f
    type: playbook
    task:
      id: 53b8703a-db52-42c8-8a0d-5ff39329701f
      version: -1
      name: Twistlock_Container_Investigation
      playbookName: Twistlock Container Investigation
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    separatecontext: false
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "2":
    id: "2"
    taskid: 58b8b9e1-b4a5-4603-85f7-ac661dc34c7d
    type: playbook
    task:
      id: 58b8b9e1-b4a5-4603-85f7-ac661dc34c7d
      version: -1
      name: Twistlock Alert IP Investigation and Response
      playbookName: Twistlock Alert IP Investigation and Response
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    separatecontext: false
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
    view: |-
      {
        "position": {
          "x": 50,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "3":
    id: "3"
    taskid: 697c003b-3937-4878-81ea-a82470fcd492
    type: condition
    task:
      id: 697c003b-3937-4878-81ea-a82470fcd492
      version: -1
      name: IP or Domain Available?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "14"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: incident.twistlockindicator
            iscontext: true
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "6":
    id: "6"
    taskid: 284dbc15-4fcb-451e-8f00-b489d041d537
    type: regular
    task:
      id: 284dbc15-4fcb-451e-8f00-b489d041d537
      version: -1
      name: Assign Analyst
      description: |-
        Assign analyst to incident.
        By default,  the analyst is picked randomly from the available users, according to the provided roles (if no roles provided, will fetch all users).
        Otherwise, the analyst will be picked according to the 'assignBy' arguments.
        machine-learning: DBot will calculated and decide who is the best analyst for the job.
        top-user: The user that is most commonly owns this type of incident
        less-busy-user: The less busy analyst will be picked to be the incident owner.
        online: The analyst is picked randomly from all online analysts, according to the provided roles (if no roles provided, will fetch all users).
        current: The user that executed the command
      scriptName: AssignAnalystToIncident
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    scriptarguments:
      assignBy:
        simple: machine-learning
      email: {}
      roles: {}
      username: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 490,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "7":
    id: "7"
    taskid: 9ae2b6c5-8082-4f1e-8f4b-a17a84120381
    type: condition
    task:
      id: 9ae2b6c5-8082-4f1e-8f4b-a17a84120381
      version: -1
      name: Request DevOps Remediation?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "10"
      Remediate:
      - "8"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 490,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "8":
    id: "8"
    taskid: 9ff0caf0-a35d-4090-8d76-e872a8452116
    type: regular
    task:
      id: 9ff0caf0-a35d-4090-8d76-e872a8452116
      version: -1
      name: Dispatch to DevOps
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 602.5,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "9":
    id: "9"
    taskid: 66e374cf-9b4e-4c9e-8a23-6614401cecae
    type: title
    task:
      id: 66e374cf-9b4e-4c9e-8a23-6614401cecae
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 490,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "10":
    id: "10"
    taskid: 9e261c47-c923-4bd4-8848-0f0061208042
    type: condition
    task:
      id: 9e261c47-c923-4bd4-8848-0f0061208042
      version: -1
      name: Wait for analyst review and approval
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "Yes":
      - "13"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 490,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "11":
    id: "11"
    taskid: fce2081f-916f-48cb-87ac-1bbd7a389ac0
    type: regular
    task:
      id: fce2081f-916f-48cb-87ac-1bbd7a389ac0
      version: -1
      name: Ask user on Slack
      description: Sends a message (question) to either user (in a direct message)
        or to a channel. The message includes predefined reply options. The response
        can also close a task (might be conditional) in a playbook.
      scriptName: SlackAsk
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      additionalOptions: {}
      channel:
        simple: demisto
      defaultResponse: {}
      lifetime: {}
      message:
        simple: Did you run this command?  ${incident.alertdescription}
      option1: {}
      option2: {}
      persistent: {}
      reply: {}
      replyEntriesTag: {}
      responseType: {}
      task:
        simple: "12"
      user: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 817.5,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "12":
    id: "12"
    taskid: 7222b33a-9f4f-4fb1-8160-b7dc154719be
    type: condition
    task:
      id: 7222b33a-9f4f-4fb1-8160-b7dc154719be
      version: -1
      name: Did the user do it?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "NO":
      - "6"
      "YES":
      - "10"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 817.5,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "13":
    id: "13"
    taskid: ac54c971-2362-43d8-88ae-bf1d706d2f78
    type: regular
    task:
      id: ac54c971-2362-43d8-88ae-bf1d706d2f78
      version: -1
      name: Generate investigation summary report
      description: |-
        A script to generate investigation summary report in an automated way
        Can be used in post-processing flow as well.
      scriptName: GenerateInvestigationSummaryReport
      type: regular
      iscommand: false
      brand: Builtin
    nexttasks:
      '#none#':
      - "9"
    scriptarguments:
      incidentId:
        complex:
          root: incident
          accessor: id
      name: {}
      type: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 490,
          "y": 1235
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "14":
    id: "14"
    taskid: 9cb10c29-1bc4-457f-8a79-9115e08ea49b
    type: regular
    task:
      id: 9cb10c29-1bc4-457f-8a79-9115e08ea49b
      version: -1
      name: ResolveDomain
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      append: {}
      key:
        simple: ResolvedIP
      value:
        simple: 95.211.172.143
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1435,
        "width": 1147.5,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
