Prisma-Twistlock/Twistlock_Malicious_Process_Execution_Gserrano.yml
id: ac20ee0a-9284-4365-8788-4028d8ff4cd6
version: 3
name: Twistlock Malicious Process Execution_Gserrano
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 891554a8-dfbd-4eb2-82d1-6b6ec98dc257
    type: start
    task:
      id: 891554a8-dfbd-4eb2-82d1-6b6ec98dc257
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "2":
    id: "2"
    taskid: 716b9b4d-826a-447a-8d64-b91416047c1a
    type: regular
    task:
      id: 716b9b4d-826a-447a-8d64-b91416047c1a
      version: -1
      name: Get the impacted image name
      script: SplunkPy|||splunk-search
      type: regular
      iscommand: true
      brand: SplunkPy
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      earliest_time: {}
      event_limit: {}
      latest_time: {}
      query:
        simple: index=main | regex _raw=msg"([^\"]+)" | selfjoin image_name | top
          image_name
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "4":
    id: "4"
    taskid: b6fadba0-c416-4a4a-82fd-fdcc6a073532
    type: title
    task:
      id: b6fadba0-c416-4a4a-82fd-fdcc6a073532
      version: -1
      name: Close the incident
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 172.5,
          "y": 3605
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "5":
    id: "5"
    taskid: e4ae88ce-9422-4653-8276-934a82a52141
    type: regular
    task:
      id: e4ae88ce-9422-4653-8276-934a82a52141
      version: -1
      name: Get source IP
      description: Deprecated - We recommend using extractIndicators command instead.
        Extract IPs from the given text and place them both as output and in the context
        of a playbook.
      scriptName: ExtractIP
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      text:
        simple: ${IP}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "12":
    id: "12"
    taskid: a081dbb3-4cea-49c5-8f1b-40a96ce49815
    type: regular
    task:
      id: a081dbb3-4cea-49c5-8f1b-40a96ce49815
      version: -1
      name: Extract Command and Control Details
      description: Deprecated - We recommend using extractIndicators command instead.
        Extract URLs from the given text and place them both as output and in the
        context of a playbook. If given an object, will convert to JSON.
      scriptName: ExtractURL
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      text:
        complex:
          root: incident
          accessor: domain
      urlRegex: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "13":
    id: "13"
    taskid: 4fdfd3f1-8075-47e8-8a5e-156aa909a360
    type: regular
    task:
      id: 4fdfd3f1-8075-47e8-8a5e-156aa909a360
      version: -1
      name: Query Public Threat Intel Database
      script: VirusTotal|||url
      type: regular
      iscommand: true
      brand: VirusTotal
    nexttasks:
      '#none#':
      - "15"
    scriptarguments:
      long: {}
      retries: {}
      sampleSize: {}
      submitWait: {}
      threshold: {}
      url:
        simple: ${URL.Data}
      wait: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "15":
    id: "15"
    taskid: 13f0699d-33f1-4c1d-8722-dcb0901c8e3b
    type: condition
    task:
      id: 13f0699d-33f1-4c1d-8722-dcb0901c8e3b
      version: -1
      name: Is the domain malicious?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "26"
      "Yes":
      - "25"
    separatecontext: false
    conditions:
    - label: "Yes"
      condition:
      - - operator: greaterThan
          left:
            value:
              complex:
                root: URL
                filters:
                - - operator: greaterThan
                    left:
                      value:
                        simple: URL.PositiveDetections
                      iscontext: true
                    right:
                      value:
                        simple: "0"
                accessor: DetectionEngines
            iscontext: true
          right:
            value:
              simple: "0"
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "17":
    id: "17"
    taskid: fb344041-7cd2-4480-8021-65144652e1eb
    type: regular
    task:
      id: fb344041-7cd2-4480-8021-65144652e1eb
      version: -1
      name: Conduct a Whois
      script: Whois|||whois
      type: regular
      iscommand: true
      brand: Whois
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      query:
        simple: ${URL.Data}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "19":
    id: "19"
    taskid: 4e0f9426-fb57-42d2-8d97-9a38becb725e
    type: condition
    task:
      id: 4e0f9426-fb57-42d2-8d97-9a38becb725e
      version: -1
      name: Does the domain exists?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "20"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: Domain.Name
            iscontext: true
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "20":
    id: "20"
    taskid: e4a56e3e-a6a4-49d6-8262-6196bbe00cbc
    type: title
    task:
      id: e4a56e3e-a6a4-49d6-8262-6196bbe00cbc
      version: -1
      name: Update Incident Report
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "4"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 172.5,
          "y": 3460
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "22":
    id: "22"
    taskid: 8c0ac2c4-8787-45dd-800a-a42a216ba6ad
    type: regular
    task:
      id: 8c0ac2c4-8787-45dd-800a-a42a216ba6ad
      version: -1
      name: Generate Investigation Summary Report
      description: |-
        A script to generate investigation summary report in an automated way
        Can be used in post-processing flow as well.
      scriptName: GenerateInvestigationSummaryReport
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "24"
    scriptarguments:
      incidentId:
        simple: ${incident.id}
      name: {}
      type: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 285,
          "y": 2820
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "23":
    id: "23"
    taskid: 99e14d9c-9641-443a-8521-b94ac971059d
    type: title
    task:
      id: 99e14d9c-9641-443a-8521-b94ac971059d
      version: -1
      name: Analyst is assigned to the Incident
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "39"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 285,
          "y": 3170
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "24":
    id: "24"
    taskid: ed5c04f5-8717-4514-80b1-856b3bc81af4
    type: regular
    task:
      id: ed5c04f5-8717-4514-80b1-856b3bc81af4
      version: -1
      name: Send Incident Details to SOC Manager
      description: Ask a user a question on Slack and expect a response. The response
        can also close a task (might be conditional) in a playbook.
      scriptName: SlackAskUser
      type: regular
      iscommand: false
      brand: slack
    nexttasks:
      '#none#':
      - "23"
    scriptarguments:
      message:
        simple: Do you want to assign this High Severity incident to an analyst?
      option1:
        simple: "yes"
      option2:
        simple: "no"
      persistent: {}
      replyEntriesTag: {}
      task:
        simple: "24"
      user:
        simple: vlanjekar@yahoo.com
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 285,
          "y": 2995
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "25":
    id: "25"
    taskid: 06e64ce7-499d-4485-8328-bc550a3a1ab3
    type: regular
    task:
      id: 06e64ce7-499d-4485-8328-bc550a3a1ab3
      version: -1
      name: Set Severity High
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "34"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      criticalassets: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      domain: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailauthenticitycheck: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclassification: {}
      emailclientname: {}
      emailfrom: {}
      emailhtml: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      filehash: {}
      filename: {}
      filepath: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      msg: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      phishingsubtype: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity:
        simple: High
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      systems: {}
      telephoneno: {}
      type: {}
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 285,
          "y": 1595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "26":
    id: "26"
    taskid: f8116740-cf47-4b1f-81d8-ed52b98255ab
    type: regular
    task:
      id: f8116740-cf47-4b1f-81d8-ed52b98255ab
      version: -1
      name: Set Severity Low
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      criticalassets: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      domain: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailauthenticitycheck: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclassification: {}
      emailclientname: {}
      emailfrom: {}
      emailhtml: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      filehash: {}
      filename: {}
      filepath: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      msg: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      phishingsubtype: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity:
        simple: low
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      systems: {}
      telephoneno: {}
      type: {}
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "34":
    id: "34"
    taskid: 1c9bb29a-306c-4ce0-80df-3107f92b7d20
    type: playbook
    task:
      id: 1c9bb29a-306c-4ce0-80df-3107f92b7d20
      version: -1
      name: Gather additional domain-ip information
      playbookName: Gather additional domain-ip information
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "35"
    separatecontext: false
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
    view: |-
      {
        "position": {
          "x": 285,
          "y": 1765
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "35":
    id: "35"
    taskid: c82757d2-f572-446c-8205-2735ef9d6d32
    type: playbook
    task:
      id: c82757d2-f572-446c-8205-2735ef9d6d32
      version: -1
      name: Query Internal Threat Intelligence Portal (TIP) database
      playbookName: Query Internal Threat Intelligence Portal (TIP) database
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "41"
    separatecontext: false
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
    view: |-
      {
        "position": {
          "x": 285,
          "y": 1945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "37":
    id: "37"
    taskid: 9914e7de-211a-4805-82ab-0893b34b7a22
    type: condition
    task:
      id: 9914e7de-211a-4805-82ab-0893b34b7a22
      version: -1
      name: Other containers connected to suspicious indicator?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "40"
      "Yes":
      - "38"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: a
            iscontext: true
          right:
            value:
              simple: a
    view: |-
      {
        "position": {
          "x": 285,
          "y": 2295
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "38":
    id: "38"
    taskid: ead035d5-08d4-47c7-84bb-8378ac900f1b
    type: regular
    task:
      id: ead035d5-08d4-47c7-84bb-8378ac900f1b
      version: -1
      name: Set Severity to Critical
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "40"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      agentid: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      blockedaction: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      commandline: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      criticalassets: {}
      customFields: {}
      cve: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      devicename: {}
      domain: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailauthenticitycheck: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclassification: {}
      emailclientname: {}
      emailfrom: {}
      emailhtml: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      filehash: {}
      filename: {}
      filepath: {}
      filesize: {}
      id: {}
      infectedhosts: {}
      isolated: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciousbehavior: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      parentprocessid: {}
      phase: {}
      phishingsubtype: {}
      pid: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity:
        simple: Critical
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcos: {}
      srcuser: {}
      subtype: {}
      suspiciousip: {}
      systems: {}
      telephoneno: {}
      terminatedaction: {}
      trapsid: {}
      triggeredsecurityprofile: {}
      type: {}
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
      xdralertcount: {}
      xdralerts: {}
      xdrassigneduseremail: {}
      xdrassigneduserprettyname: {}
      xdrdescription: {}
      xdrdetectiontime: {}
      xdrfileartifacts: {}
      xdrhighseverityalertcount: {}
      xdrincidentid: {}
      xdrlowseverityalertcount: {}
      xdrmediumseverityalertcount: {}
      xdrnetworkartifacts: {}
      xdrnotes: {}
      xdrresolvecomment: {}
      xdrstatus: {}
      xdrurl: {}
      xdrusercount: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 397.5,
          "y": 2470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "39":
    id: "39"
    taskid: e716f602-3ff5-4927-8e05-bd769ccf9bc4
    type: title
    task:
      id: e716f602-3ff5-4927-8e05-bd769ccf9bc4
      version: -1
      name: Analyst performs additional investigation
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "20"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 285,
          "y": 3315
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "40":
    id: "40"
    taskid: 109d6683-970d-4884-87a5-2ed6e3aba913
    type: playbook
    task:
      id: 109d6683-970d-4884-87a5-2ed6e3aba913
      version: -1
      name: MineMeld and Firewall EDL Response
      playbookName: MineMeld and Firewall EDL Response
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "22"
    separatecontext: true
    view: |-
      {
        "position": {
          "x": 285,
          "y": 2645
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "41":
    id: "41"
    taskid: cbca1bef-fb7c-4769-8d9d-f68106ba2cb4
    type: playbook
    task:
      id: cbca1bef-fb7c-4769-8d9d-f68106ba2cb4
      version: -1
      name: Panorama Query IP Address in Traffic Logs
      playbookName: Panorama Query IP Address in Traffic Logs
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "37"
    scriptarguments:
      action: {}
      addr-dst: {}
      addr-src: {}
      filedigest: {}
      log_type:
        simple: traffic
      port-dst: {}
      query: {}
      rule: {}
      time-generated: {}
      url: {}
      zone-dst:
        simple: ${IP.Address.[0]}
      zone-src: {}
    separatecontext: true
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
    view: |-
      {
        "position": {
          "x": 285,
          "y": 2110
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "42":
    id: "42"
    taskid: 00d5476c-b7ed-4418-8c7a-6af484604616
    type: regular
    task:
      id: 00d5476c-b7ed-4418-8c7a-6af484604616
      version: -1
      name: TestDomaintoIPResolve
      scriptName: TestDomaintoIPResolve
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      host:
        complex:
          root: URL
          filters:
          - - operator: notStartWith
              left:
                value:
                  simple: URL.Data
                iscontext: true
              right:
                value:
                  simple: http
          accessor: Data
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 870,
          "y": 1670
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3620,
        "width": 1200,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
sourceplaybookid: 0e4e532d-7c07-4bd1-8de4-da3b74904c31
